/* 網頁內容--------------- */

/* ===========零錢包商品============= */
/* 第一區塊======= */
.wrap_coin_banner{
    overflow: hidden;
}
.banner_group{
    max-width:1200px;
    margin:auto;
    border: 3px solid #0945BA;
    position: relative;
    z-index: 1;
} 
/* 文字-------------- */
.banner_txt{
    box-sizing: border-box;
    background-color: #ffff;
}
.banner_txt span{
    display: inline-block;
    background-color: #0945BA;
    color: #FFD54C;
    font-size: clamp(14px, calc((100vw - 375px) / 412.500 + 14px), 16px);
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 2px;
}
/* 標題h2 */
.banner_txt_title {
    font-size: clamp(24px, calc((100vw - 375px) / 137.500 + 24px), 30px);
    font-weight: 800;
    color: #0945BA;
    margin-bottom: 20px;
    position: relative; 
}
.banner_txt p{
    font-size: clamp(14px, calc((100vw - 390px) / 405.000 + 14px), 16px);
    color: #404040;
    text-align: justify;
}

/* 圖片------------ */
.banner_picture{
   overflow: hidden;  
}
.banner_picture img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    object-position: center center;
}

/* 第二區塊--------------- */
.wrap_product_show{
    width: 100%;
    padding-bottom: 100px; ;
}
.container_product{
    max-width: 1200px; 
    box-sizing: border-box;
    margin: auto;
} 
/* 上方頁籤方塊 */
.tab_group{
    display: flex;
    border-bottom:1px solid var(--main2-color) ;
    font-size: clamp(16px, calc((100vw - 390px) / 202.500 + 16px), 20px);
    font-weight: 800;
    color: #0945BA;
}
.tab_group .tabs{
    border: 1px solid var(--main2-color);
    border-bottom: none;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
}
.tab_group .tabs:hover{
    background-color: var(--main3-color);
}
.content_product{
    overflow: hidden;
    position: relative;
}
.content_product .contents{
    position: absolute;
    transform: translateX(100%);
    transition: all 1s;
}
.content_product .active{
    transform: translateX(0%);
    transition: all 1s;
}
.tab_group .active{
    background-color: var(--main3-color);
    transition: all 1s;
}
/* 商品區塊 */

.product_group h3 {
    font-size: clamp(20px, calc((100vw - 390px) / 202.500 + 20px), 24px);
    text-align: center;
    letter-spacing: 2px;
    color: #0945BA;
    font-weight: 800;
    padding: 80px 0 30px 0;
}
.product_items_group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product_items_octagon{
    background-color: #FFE5FB;
    border-radius: 5px;
    padding-top: 5px;
    margin-bottom: 50px;
    box-shadow:2px 2px 5px 0px #FFD54C;
}
.color{
    background-color: #bfdcff;
}
.bag_color{
    background-color: rgb(213, 240, 213);
}
.product_items_picture{
    width: 100%;
    margin: auto;
    clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%);
    overflow: hidden;
    margin-bottom: 15px;
}

.product_items_picture img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
}
.product_items_txt p{
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    color: #606060;
}
.product_items_txt .price{
    font-size: 18px;
    font-weight: 800;
    color: #0945BA;
    padding-bottom:20px; 
}
.page{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.page a{
    padding: 10px 5px;
}
.page a:hover{
    color: #0945BA;
    font-weight: 700;
}

/* 展示商品區--手機版 */
@media screen and (max-width: 767px){
    .wrap_coin_banner{
        padding: 100px 0;
    }
    .banner_group{
        width: 75%;
        border-radius: 20px;
        box-shadow: 3px 3px 0 0 #0945BA;
    } 
    /* 文字 */
    .banner_txt{
        width: 100%;
        padding: 20px;
        border-radius: 17px 17px 0 0 ;
    }
    .banner_txt p{
        line-height: 28px;
    }
    .banner_picture{
        width: 100%;
    }
    .banner_picture img{
        border-radius: 0 0 17px 17px;
    }
    /* 第二區塊--------------- */
    .container_product{
        width:100%;
    }
    /* 上方頁籤方塊 */
    .tab_group{
        justify-content: center;
        letter-spacing: 2px;
    }
    .tab_group .tabs{
        padding: 15px 15px;
    }
    .product_items_octagon{
        width: 45%;
    }
    .content_product{
        height: 2080px;
    }
}
/* 展示商品區--平板直向 */
@media screen and (min-width: 768px){
    .wrap_coin_banner{
        padding: 120px 0;
    }
    .banner_group{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 3px 3px 0 0 #0945BA;
    }
    /* 文字 */
    .banner_txt{
        width: 50%;
        padding: 20px;
        border-radius: 17px 0  0 17px;
    }
    .banner_txt p{
        line-height: 28px;
    }
    .banner_picture{
        width: 50%;
    }
    .banner_picture img{
        border-radius: 0 17px 17px 0;
    }
    /* 第二區塊--------------- */
    .container_product{
        width:75%;
    }
    /* 上方頁籤方塊 */
    .tab_group{
        justify-content: flex-start;
        letter-spacing: 2px;
    }
    .tab_group .tabs{
        padding: 15px 15px;
    }
    .product_items_octagon{
        width: 45%;
    }
    .content_product{
        height: 2580px;
    }
}
/* 展示商品區---平板橫向 */
@media screen and (min-width: 1024px){
    .banner_txt{
        padding: 30px;
    }
    .tab_group .tabs{
        padding: 20px 30px;
        border: 1px solid var(--main2-color);
        border-bottom: none;
        cursor: pointer;
        border-radius: 3px 3px 0 0;
    }
    .banner_rectangle{
        background-color:#FFD54C ;
        width: 100%;
        height: 1200px;
        clip-path: polygon(100% 10%,100% 20%,-40% 34%, -141% 40% );
        position: absolute;
        z-index: 0;
        top: 100px; 
    }
    .product_items_octagon{
        width: 22%;
    }
    .content_product{
        height: 1100px;
    }
}
/* 展示商品區---1200以上 */
@media screen and (min-width: 1200px){
    /* 背景黃色四角形背景 */
    .banner_rectangle{
        background-color:#FFD54C ;
        width: 100%;
        height: 1200px;
        clip-path: polygon(100% 10%,100% 23%,-50% 50%, -58% 40%);
        position: absolute;
        z-index: 0;
        top: 100px; 
    }
    .content_product{
        height: 1200px;
    }
    .product_items_picture a img:hover{
        transform: scale(1.3);
        transition: 1s;
    }
}
/* 展示商品區---1440以上 */
@media screen and (min-width: 1440px){

    .content_product{
        height: 1400px;
    }
}