.wrap_custom {
    width: 100%;
    padding: 200px 0;
}

/* ===========客製商品============= */
/* 標題文字======= */
.custom_paper_tape{
    width: 310px;
    height: 60px;
    background-image: url(../image/bg2.svg) ;
    background-repeat: no-repeat;
    margin:auto;
    margin-bottom: 100px;
    font-size: 30px;
    color: #404040;
    font-weight: 800;
    text-align: center;
    line-height: 60px;
    letter-spacing: 10px;
}
/* 圖片與文字的群組--------- */
.custom_group{
    max-width: 1200px;
    margin: auto;
}
/* 圖片------------ */
.custom_picture{
   width: 45%;
   height: 45%;
   overflow: hidden;
   position: sticky;
   top: 150px;
   border: 3px solid #FFD54C;
   border-radius: 10px;
}
.custom_picture img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    object-position: center center;
}
    
/* 說明文字--------------- */
.selection_txt h3{
    padding:0px 10px;
    font-size: clamp(18px, calc((100vw - 390px) / 202.500 + 18px), 22px);
    font-weight: 600;
    color: #404040;
    letter-spacing: 2px;
    display: inline-block;
    background-image: url(../image/bg7.svg);
    background-position: no repeat;
}
.selection_txt p{
    padding: 10px;
    font-size: 18px;
    color: #5a5a5a;
    line-height: 30px;
    text-align: justify;
}
/* 開始訂製----------- */
/* 訂製版型-------------- */

.layout_title,.metal_title, .fabric_title, .inner_title, .printing_title{
    display: flex;
    align-items: flex-end;
    padding: 20px 0;
}
/* 虛線 */
.layout_dashed{
    flex-grow: 1;
    border-bottom:2px dashed #0945BA ;
}

.metal_dashed, .fabric_dashed,.inner_dashed{
    border-bottom:2px dashed #0945BA ;
    flex-grow: 1;
}
.printing_dashed{
    flex-grow: 1;
    border-bottom:2px dashed #0945BA ;
}

.layout_title h4, .metal_title h4, .fabric_title h4,.inner_title h4, .printing_title h4{
    font-size: 18px;
    color: #0945BA;
    letter-spacing: 2px;
    font-weight: 700;
}
/* 選版型圖---------------- */
.layout_link, .metal_link, .fabric_link, .inner_link, .printing_link{
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
}
.layout_link li,.fabric_link li, .inner_link li, .printing_link li{
    text-align: center;
}
.fabric_link li,.inner_link li,.printing_link li{
    width: 20%;
    padding: 10px;
}
.layout_link li img, .fabric_link li img,.inner_link li img,.printing_link li img{
    width: 100%;
    vertical-align: top;
}

.selection_layout p{
    font-size: 15px;
    color: #404040;
    letter-spacing: 2px;
    line-height: 24px;
    padding: 10px;
}
/* 選口金顏色金色與銀色--------------- */
/* .metal_link{
    display: flex;
} */
.metal_link img{
    width: 20px;
    height: 20px;
    margin: 10px;
}

/* 選外觀布料顏色 */

.fabric_link img, .inner_link img, .printing_link a img{
    width:16%;
    margin-bottom: 10px;
    /* object-fit: cover;
    object-position: center center; */
}
.fabric_link a :active, .inner_link a :active, .printing_link a :active{
    border: 5px solid #ffde72;
}
/* 下一步按鈕 */
.next_page {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin: 50px 0;
}

.next_page a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px 20px 20px 20px;
    border: 2px dashed #0945BA;
    box-shadow: 0 0 0 3px yellow;
    background-color: #FFEF00;
    color: #0945BA;
    font-size: 18px;
}

.next_page a:hover{
    background-color: #0945BA;
    color: #FFD54C;
    border: 2px dashed #FFD54C;
    box-shadow: 0 0 0 3px #0945BA;
}
/* 客製商品--手機版 */
@media screen and (max-width: 767px){
    /* 標題文字======= */
    .custom_paper_tape{
        margin-bottom: 50px;
    }
    .custom_group{
        width: 100%;
    }
    /* 圖片------------ */
    .custom_picture{
        width: 85%;
        margin: auto;
    }
    /* 文字-------------- */
    .custom_selection{
        width: 85%;
        margin: auto;
        padding-top: 50px;
    }
}
/* 客製商品--平板直向 */
@media screen and (min-width: 768px){
    .custom_group{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    /* 圖片------------ */
    .custom_picture{
        width: 45%;
        height: 45%;
        overflow: hidden;
        position: sticky;
        top: 150px;
        border: 3px solid #FFD54C;
        border-radius: 10px;
    }
    .custom_selection{
        width: 45%;
    }
}